/*responsive*/
.xs-major {
    display: none;
}
/*md*/

/*sm*/
@media screen and (min-width: 576px) {
    .nav {
        min-width: 230px;
        align-items: flex-start !important;
    }
   .logo, .home, .seach, .library, .playlist, .profile{
        padding-left: .9375rem;
    }
    .download {
        width: 100%;
        border-bottom: 1px solid #d2d2d2;
        margin:0 0 .625rem 1.25rem;
        text-align: center;
    }

    .download .nav-icon {
        padding-top: 5px;
    }

    .navbox {
        padding: 0;
        border-left: .1875rem solid transparent;
    }
.nav-bottom{
    width: 80% !important;
}
.user img{
    width: 2.5rem !important;
}
    .select {
        border-left: .1875rem solid yellow;
    }

    .only-xs {
        display: none;
    }

    .xs-major {
        display: inline-block;
    }
    .box{
        font-size: 20px !important;
    }
  .box .icon-1{
    padding-left: 10px;
  }
}
@media screen and (min-width:768px) { 
    .album-box {
        width: calc(100% / 4 - 20px) !important;
        margin: 0 10px 5px 10px;
    }
    .music-nav{
        font-size: 1rem;
    }
    footer{
        padding: 10px;
    }
    .barra-volume input{
        max-width: 120px !important;
    }
    .icon-1{
        display: flex;
    }
    .icon-1 i{
        padding: 1.25rem .3125rem 0 .3125rem;
        font-size: 1.5625rem;
    }
}
@media screen and (min-width: 992px ) {
    .album-box {
        width: calc(100% / 6 - 20px) !important;
        margin: 0 10px 5px 10px;
    }
    .box{
        font-size: 1.75rem !important;
    }
    
}
/*responsive*/