/*responsive*/
.xs-major{
    display: none;
}
/*sm*/
@media screen and (min-width: 577px){
    .nav{
        min-width: 200px;
    }
    .nav img{
        max-width: 60%;
    }
     .nav-btn img{
        max-width: 100%;
    }
    .nav-btn{
        width:30px;
    }
    .info{
        padding-left: .3125rem;
        font-size: 0.875rem;
    }
    .info2{
        font-size: .75rem ;
    }
    .download{
        border-bottom: 1px solid #d2d2d2;
        
    }

   .navbox{
    padding: 0;
    border-left: .1875rem solid transparent;
   }
   .select{
    border-left: .1875rem solid yellow;
   }
.only-xs{
    display: none;
 }   
    .xs-major{
        display: inline-block;
    }


}

/*tablet*/
/*responsive*/