@import "reset.css";
@import "font.css";
@import "utils.css";
@import "responsive.css";

/*body*/
body {
    height: 100vh;
}
/*body*/

/*main*/
main {
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    align-items: stretch;
}


.music-nav{
    margin: 0 auto;
}
.music-nav button{

    font-size: .6875rem;
}

.music-nav li{
    max-width: calc(100% / 4);
    padding: 5px 15px;

}

ul {
    justify-content: center;
}

li {
    list-style: none;
    border-bottom: 2px solid transparent;
}
.music-nav hr{
height: 3px;
border-color: yellow;
    background-color: yellow;
    width: 30px;
    margin: 0 auto;
}


.int-album {
    margin: 20px;
}

.album-box {
    width: calc(100% / 2 - 20px);
    margin: 0 10px 5px 10px;
}

.no-align {
    align-items: normal;
}
.album{
    position: relative;
}
.album-hover{
    position: absolute;
    font-size: 50px;
    top:0;
left: 0px;
padding: 50px 55px 55px 60px;
    z-index: 20;
    color: transparent !important;
    background-color: rgba(0, 0, 0, 0);

}
.album-hover:hover{
    background-color: rgba(0, 0, 0, 0.411);
    color: white !important;
}
.album img {
    width: 100%;
    display: block;
}
.cerchio{
border-radius: 100%;
}
.title {
    text-align: center;
    padding: 10px;
}

.album-box .subtitle {
    font-size: .75rem;
}
/*main*/
.main-window {
    height: calc(100% - 90px);
}

/*menù superiore*/
.up-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
}

.up-bar button {
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    padding: .625rem 1.25rem;
    max-width: 200px;
    font-size: .625rem;
   
}
.hover-grow:hover{
    cursor: pointer;
    width: 160px;
    height: 40px;
}
/*menù superiore*/
/*menu laterale*/
.nav {
    background-color: black;
    width: 50px;
    padding: .3125rem .3125rem 0 .3125rem;
    flex-direction: column;
    height: calc(100vh - 90px);
    flex-shrink: 0;
}

.logo {
    width: 70%;
    padding-bottom: .3125rem;
}

.nav-icon {
    width: 30px;
    padding: .3125rem 0;
}

.download-icon img {
    width: 20px;
    padding-left: 5px;
}

.profile .nav-icon img {
    width: 30px;
}

.info {
    padding-left: .3125rem;
    font-size: 0.875rem;

}

.info-profile {
    font-size: .75rem;
    padding-left: .3125rem;
}

.menu h4 {
    margin-bottom: 1.25rem;
}

.add-playlist {
    background-color: #a3a3a3;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 5px;
}
.add-playlist i {
    width: 50%;
}

.list {
    height: 12.5rem;
    overflow-y: auto;
    padding-right: 10px;
}

.profile {
    margin-top: auto;
}

.download .nav-icon {
    width: .9375rem;
}

.user img {
    width: 1.25rem;
    background-color: #808080;
    border-radius: 100%;
}

.nickname {
    padding-left: 1.25rem;
    font-size: .875rem;
}

/*menù laterale*/

/*menù basso*/
footer {
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: .625rem .3125rem 0 .3125rem;
}


footer img {
    width: 1.5625rem;
}

.info-brano {
    padding-left: .3125rem;
}

.info-brano h6 {
    color: white;
    padding: 0;
    margin: 0;
}

footer .subtitle {
    font-size: .625rem;
}

.icon-1 {
    padding-left: .3125rem;
    font-size: 14px;
}
.icon-1 i{
    color: #828282;
}
.on-click:hover > i{
    color: white;
}
.info-brano{
    max-width: 70%;
}
.icon-2 {
    padding-bottom: .625rem;
    flex-grow: 1;
    font-size: 14px;
}

.icon-2 i {
    padding: .3125rem;
    font-size: 14px;
}

.play i {
    padding: 0 .625rem .625rem .625rem;
    font-size: 25px;
}

.font-small {
    font-size: .5rem;
    height: 2px;
}

.tempo-brano {
    max-width: 100%;
    display: inline-block;
    padding-bottom: .3125rem;
    flex-grow: 1;
}

.tempo-brano input {
    width: 100%;
    height: 4px;
}

.icon-3 i {
    padding-right: .125rem
}

.barra-volume input {
    height: 4px;
    display: flex;
    align-self: center;
    max-width: 50px;
}

.container-box {
    margin-top: 10px;
    justify-content: space-between;
}
.barra-volume:hover, .tempo-brano:hover{
accent-color: yellow;
}
.box{
    font-size: 12px;
}
.box2{
    flex-grow: 0.5;
}
/*menù basso*/