/*common*/
.font-sm{
    font-size: 10px;
    padding-top: 5px;
}
.y-center{
    align-items: center;
}
.flex{
    display: flex; 
}
.wrap{
    flex-wrap: wrap;
}
.space-bottom{
    padding-bottom: .625rem ;
}
.no-hover{
    color: #d2d2d2;
}
button{
    background-color: transparent;
    border: none;
}
.t-center{
    text-align: center;
}
.subtitle{
    color:  #848484;
}
.xs-major{
    display:none;
}
.giu{
    margin-top: auto;
    }
    .grow{
        flex-grow: 1;
    }
    .t-correction{
        white-space: nowrap;
    }
    .on-click:hover{
        color: white !important; 
        cursor: pointer;

    }
/*common*/